body {
    font: 14px "Century Gothic", "Futura", "sans-serif";
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.td .tr table {
    border-width: thick;
}

.piece {
    height: 100%;
}

.queen-piece {
    height: 100%;
    width: 100%;
}

.board-row:after {
    clear: both;
    content: "";
}

.board-edge-top {
    background: #fff;
    border: 1px solid #999;
    border-left-color: white;
    border-right-color: white;
    border-top-color: white;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 55px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 55px;
}

.board-edge-right {
    background: #fff;
    border: 1px solid #999;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 55px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 55px;
}

.board-edge-bottom {
    background: #fff;
    border: 1px solid #999;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: white;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 55px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 55px;
}

.board-edge-left {
    background: #fff;
    border: 1px solid #999;
    border-top-color: white;
    border-bottom-color: white;
    border-left-color: white;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 55px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 55px;
}

.board-empty {
    background: #fff;
    border: 1px solid #999;
    border-top-color: white;
    border-bottom-color: white;
    border-left-color: white;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 55px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 55px;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 55px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 55px;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
    display: grid;
    grid-template-columns: [first] 25% [line2] auto [line3] 25% [end];
    grid-template-rows: [row1] 25% [row2] 10% [row3] 10% [row4] 10% [row5] 10% [end];

    grid-template-areas: 
    ". header ."
    ". item1 ."
    ". item2 ."
    ". item3 ."
    ". item4 .";
}